*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.loading-screen {
  height: 100vh;
  /* width: 100%; */
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  background: linear-gradient(to bottom, #004e92, #000428);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  display: flex;
}
.loading-dot {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 0 8px;
}
